.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #333333;
    background-color: #DDDDDD;
}

.navbar-routes {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.nav-button {
    border-radius: 4px;
}

.nav-button:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}

.nav-item {
    user-select: none;
    padding: 5px 7px;
}
